In [ ]:
# Description: Use stock indicators with machine learning to try to predict the direction of a stocks price

In [ ]:
#Import the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
from sklearn.model_selection import train_test_split

In [ ]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.64)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)

In [ ]:
# Load the data set
import yfinance as yf
df = yf.download("GOOG", start="2019-06-03", end="2019-12-17")

[*********************100%***********************]  1 of 1 completed

In [ ]:
df

                   Open         High  ...    Adj Close   Volume
Date                                  ...
2019-06-03  1065.500000  1065.500000  ...  1036.229980  5130600
2019-06-04  1042.900024  1056.050049  ...  1053.050049  2833500
2019-06-05  1051.540039  1053.550049  ...  1042.219971  2168400
2019-06-06  1044.989990  1047.489990  ...  1044.339966  1703200
2019-06-07  1050.630005  1070.920044  ...  1066.040039  1802400
...                 ...          ...  ...          ...      ...
2019-12-10  1341.500000  1349.974976  ...  1344.660034  1094100
2019-12-11  1350.839966  1351.199951  ...  1345.020020   850400
2019-12-12  1345.939941  1355.775024  ...  1350.270020  1281000
2019-12-13  1347.949951  1353.093018  ...  1347.829956  1549600
2019-12-16  1356.500000  1364.680054  ...  1361.170044  1397300

[138 rows x 6 columns]

In [ ]:
#Create functions to calculate teh Simpple Moving Average (SMA) & the Exponential Moving Average(EMA)
# Typical time periods for moving averages are 15, 20, & 30
# Create the Simple Moving Average (EMA)
def SMA(data, period=30, column='Close'):
  return data[column].rolling(window=period).mean()

# Create teh Exponential Moving Average (EMA)
def EMA( data, period=20, column='Close'):
  return data[column].ewm(span=period, adjust=False).mean()

In [ ]:
# Create a function to calculate the Moving Average Convergence / Divergence(MACD)

def MACD(data, period_long=26, period_short=21, period_signal=9, column='Close'):
  #calculate the Short Term EMA
  ShortEMA= EMA(data, period=period_short, column=column)
  # Calculate the Long Term EMA
  LongEMA=EMA(data, period=period_long, column=column)
  #Calculate the store the MACD into the data frame
  data['MACD']=ShortEMA - LongEMA
  #Calculate the signal line and store it into the data frame
  data['signal_Line']=EMA(data, period=period_signal, column='MACD')
  return data

In [ ]:
# Create a function to calculate the Relative Strength Index(RSI)

def  RSI( data,  period=14, column='Close'):
  delta= data[column].diff(1)
  delta=delta.dropna()
  up= delta.copy()
  down=delta.copy()
  up[up<0] = 0
  down[down > 0] = 0
  data['up']=up
  data['down']=down
  AVG_Gain=SMA(data, period, column='up')
  AVG_Loss= abs(SMA(data, period, column='down'))
  RS=AVG_Gain/ AVG_Loss
  RSI=100.0-(100.0/(1.0+RS))

  data['RSI']= RSI
  return data

In [ ]:
# Add the indicators to the data set
MACD(df)
RSI(df)
df['SMA']=SMA(df)
df['EMA']=EMA(df)
#Show the data
df

                   Open         High  ...          SMA          EMA
Date                                  ...
2019-06-03  1065.500000  1065.500000  ...          NaN  1036.229980
2019-06-04  1042.900024  1056.050049  ...          NaN  1037.831892
2019-06-05  1051.540039  1053.550049  ...          NaN  1038.249804
2019-06-06  1044.989990  1047.489990  ...          NaN  1038.829819
2019-06-07  1050.630005  1070.920044  ...          NaN  1041.421269
...                 ...          ...  ...          ...          ...
2019-12-10  1341.500000  1349.974976  ...  1304.410335  1313.003203
2019-12-11  1350.839966  1351.199951  ...  1307.157003  1316.052424
2019-12-12  1345.939941  1355.775024  ...  1310.123002  1319.311243
2019-12-13  1347.949951  1353.093018  ...  1313.047001  1322.027311
2019-12-16  1356.500000  1364.680054  ...  1315.961336  1325.755190

[138 rows x 13 columns]

In [ ]:
# Create the Target Column
df['Target']= np.where(df['Close'].shift(-1) > df['Close'],1, 0)

# Show the data
df

                   Open         High  ...          EMA  Target
Date                                  ...
2019-06-03  1065.500000  1065.500000  ...  1036.229980       1
2019-06-04  1042.900024  1056.050049  ...  1037.831892       0
2019-06-05  1051.540039  1053.550049  ...  1038.249804       1
2019-06-06  1044.989990  1047.489990  ...  1038.829819       1
2019-06-07  1050.630005  1070.920044  ...  1041.421269       1
...                 ...          ...  ...          ...     ...
2019-12-10  1341.500000  1349.974976  ...  1313.003203       1
2019-12-11  1350.839966  1351.199951  ...  1316.052424       1
2019-12-12  1345.939941  1355.775024  ...  1319.311243       0
2019-12-13  1347.949951  1353.093018  ...  1322.027311       1
2019-12-16  1356.500000  1364.680054  ...  1325.755190       0

[138 rows x 14 columns]

In [ ]:
# Remove the first 29 days of data
df=df[29:]

In [ ]:
df

                   Open         High  ...          EMA  Target
Date                                  ...
2019-07-15  1146.859985  1150.819946  ...  1113.511647       1
2019-07-16  1146.000000  1158.579956  ...  1117.327677       0
2019-07-17  1150.969971  1158.359985  ...  1120.091705       0
2019-07-18  1141.739990  1147.604980  ...  1122.590586       0
2019-07-19  1148.189941  1151.140015  ...  1123.305766       1
...                 ...          ...  ...          ...     ...
2019-12-10  1341.500000  1349.974976  ...  1313.003203       1
2019-12-11  1350.839966  1351.199951  ...  1316.052424       1
2019-12-12  1345.939941  1355.775024  ...  1319.311243       0
2019-12-13  1347.949951  1353.093018  ...  1322.027311       1
2019-12-16  1356.500000  1364.680054  ...  1325.755190       0

[109 rows x 14 columns]

In [ ]:
# Split the data set into feature or independent data set(X) and a Target or dependent data set(Y)
keep_columns=['Close', 'MACD', 'signal_Line','RSI','SMA', 'EMA']
X=df[keep_columns].values
Y=df['Target'].values

In [ ]:
# Split the data again but this time into 80% training and 20% testing data sets
X_train, X_test, Y_train, Y_test= train_test_split(X,Y, test_size=0.2, random_state=2)

In [ ]:
from sklearn import tree

In [ ]:
# Create and train the decision tree classifier model
tree= tree.DecisionTreeClassifier().fit(X_train,Y_train)

In [ ]:
#Check how well the model did on the training data set
print(tree.score(X_train, Y_train))

1.0

In [ ]:
#Check how well the model did on the testing data set
print(tree.score(X_test,Y_test))

0.5909090909090909

In [ ]:
# Show the model tree predictions
tree_predictions=tree.predict(X_test)
print(tree_predictions)

[0 0 0 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 0]

In [ ]:
#Show the actaul values from the test data
Y_test

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1])

In [ ]:
# Get the model metrics
from sklearn.metrics import classification_report
print(classification_report(Y_test, tree_predictions))

              precision    recall  f1-score   support

           0       0.83      0.38      0.53        13
           1       0.50      0.89      0.64         9

    accuracy                           0.59        22
   macro avg       0.67      0.64      0.58        22
weighted avg       0.70      0.59      0.57        22